<main class="p-5 flex flex-col justify-center items-center">
    <section class="flex justify-center">
        <h1 class="text-3xl font-bold text-clifford">Visitors</h1>
    </section>
    <section class="flex flex-col">
        <table class="table-auto">
            <tr>
                <th class="px-6 py-2 text-left">first name</th>
                <th class="px-6 py-2 text-left">last name</th>
                <th class="px-6 py-2 text-right">age</th>
                <th class="px-6 py-2 text-left">job type</th>
                <th class="px-6 py-2 text-left">sex</th>
            </tr>
            <% visitors.forEach(function(visitor) { %>
                <tr>
                    <td class="px-6 py-2 text-left"><%=visitor.firstName%></td>
                    <td class="px-6 py-2 text-left"><%=visitor.lastName%></td>
                    <td class="px-6 py-2 text-right"><%=visitor.age%></td>
                    <td class="px-6 py-2 text-left"><%=visitor.jobType%></td>
                    <td class="px-6 py-2 text-left"><%=visitor.sexType%></td>
                </tr>
            <% }); %>
        </table>
    </section>
</main>
